html, body, #root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #121316;
  background-image: linear-gradient(135deg, #2a2b36 0%, #0d0e12 100%);
  background-attachment: fixed;
  font-family: 'Inter', sans-serif !important;
  overscroll-behavior: none;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
